body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(25, 24, 24);
    color: white;
}
#header,#query-form {
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.movie-card {
    width: 25%;
    max-width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}
.movie-card:hover {
    transition: transform 0.5s;
    transform: scale(1.1)
}
.movie-card > img {
    width: 150px;
}


#modal {
    display: none;
    width: 800px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #999;
    text-align: center;
}
#backdrop-image {
    width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .3;
}
#overview {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 1.5em;
    font-weight: 900;
}
#page-numbers {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    
}
.btn {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin: 0px 5px;
}