body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(25, 24, 24);
    color: white;
}
#header,#query-form {
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.movie-card {
    width: 25%;
    max-width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}
.movie-card:hover {
    transition: transform 0.5s;
    transform: scale(1.1)
}
.movie-card > img {
    width: 150px;
}


#page-numbers {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    
}
.sidebar {
    display: none;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 15px;
}
#toggle-sidebar {
    position: fixed;
    top: 10px;
    right: 45px;
    height: 20px;
    cursor: pointer;

}
#my-list {
    margin-left: 15px;
}
.list-movie-card{
    text-align: center;
    margin: 24px;
}
.list-movie-card > img {
    width: 100px;
}
.list-movie-card > button {
    padding: .6em;
    border-radius: 30px;
    border: 0;
    background-color: rgb(123, 27, 27);
    color: white;
}

#modal {
    display: none;
    width: 900px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #999;
    text-align: center;
}
#modal img {
    width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .8;
}
#modal h1 {

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 3.5em;

}
#modal p {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 1.5em;
    font-weight: 900;
}
#modal button {
    position: absolute;
    top: 15px;
    left: 15px;
    
}
#close-modal {
    cursor: pointer;
    position: absolute;
    top:30px;
    right:30px;
}
#message {
    display: none;
    width: 400px;
    border-radius: 20px;
    font-size: 1.1em;
    padding: .3em;
    text-align: center;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}
.success {
    background-color: green;
}
.error {
    background-color: red;

}
.btn {
    width: 5rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    padding: 5px;
    margin: 0px 5px;
    cursor: pointer;
}
.blur {
    filter: blur(10px);
}

