body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(25, 24, 24);
    color: white;
}
#header,#query-form {
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.movie-card {
    width: 25%;
    max-width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}
.movie-card:hover {
    transition: transform 0.5s;
    transform: scale(1.1)
}
.movie-card > img {
    width: 150px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page-numbers {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    
}
.btn {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    margin: 0px 5px;
    background-color: rgba(29, 58, 146, 0.7);
    color: white;
}